<div class="container">
  <div class="message-area">
    <h2>Welcome, <%= current_user.user_name %> !!</h2>
    <h2>What did you read today?</h2>
  </div>
  <div class="passbook-area">
    <div class="passbook-area__main">
    </div>
    <div class="passbook-area__sum">
    </div>
    <div class="passbook-area__button">
    </div>
  </div>
  <div class="book-area">
  </div>
</div>
