<div class="searcharea">
  <div class="searchbar">
   <%= react_component("atoms/searches/SearchBar") %>
  <button>
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
  </div>
</div>
<div class="container">
  <%= render 'books/book_card' %>
</div>
