<div class="bookcard">
  <div class="bookimg">
    <span></span>
  </div>
  <div class="bookinfo">
    <p class="bookinfo__title"><%= book.name %></p>
    <p class="bookinfo__author"><%= book.author %></p>
    <p class="bookinfo__publisher"><%= book.publisher %></p>
    <div class="bookinfo__buttons">
      <button class="bookinfo__buttons__item bookmark">+ Bookmark</button>
      <button class="bookinfo__buttons__item add-log">+ Add</button>
    </div>
  </div>
</div>
