<h1>this books detail!</h1>
<%# <%= link_to "+Bookmark", new_book_bookmark_path(@book) %>
<% if @not_duplicated_bookmark && @not_duplicated_log %>
  <%= render 'bookmarks/new', book: @book, bookmark: @bookmark %>
<% end %>
<% if @not_duplicated_log %>
  <%= render 'logs/new', book: @book, log: @log %>
<% end %>
