.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    &__item {
      & .nav-link {
        & .fa-solid {
          color: white;
          font-size: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__right {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-item {
  & .nav-link {
    text-decoration: none;
    & .fa-solid {
      font-size: 30px;
    }
  }
}
